.card-border{
    contain: content;
    height: 300px;
    width: 150px;
    margin-top: 10px;
    border-radius: 15px;
}
.card-border img{
       height: 100%;
    width: 100%;
}

.cards-fields{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    width: 100%;
}